<div class="jumbotron">
  <div class="container">
    <div class="card-body">
      <h4 class="card-title">My Todo list</h4>
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          placeholder="Add your new todo item..."
        />
        <button class="btn btn-primary font-weight-bold">
          Add
        </button>
      </div>
      <div class="sda-list-wrapper">
        <ul class="d-flex" style="list-style:none">
          <li>
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox" />
                Text...
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>